@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
  }
  
/* Utilisation de la police */
body, nav {
font-family: 'Poppins Regular', sans-serif;
transition: background-color 0.3s, color 0.3s;
-webkit-transition: background-color 2s ease-out;
-moz-transition: background-color 2s ease-out;
-o-transition: background-color 2s ease-out;
}

.dark-mode {
    background-color: #212529;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #000;
}
.nav-link.active {
font-weight: bold;
}
nav ul li a:hover{
    font-size: 18px;
    transition: .3s;
}
.contenu {
margin-top: 10%;
}

h1{
    font-size: 60px;
}

/* .animated-text {
    animation: fade-in-out 4s normal;
    }

    @keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */


#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }

.backToTopSombre{
    background-color: black;
    color: white;
}
.backToTop{
    background-color: white;
    color: #000;
}

#accueil, #propos, #skills, #projets{
    min-height: 100vh;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}
 .heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
 }
.heading span{
    color: #212529;
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img .aboutImg, .img-border-light{
    width: 80%;
    border-radius: 50%;
}
.about-img .aboutImg{
    border: .2rem solid #212529;
}
.about-img .img-border-light{
    border: .2rem solid #fff;
}

.about-img .circle-spin, .circle-spin-dark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    animation: aboutSpinner 8s linear infinite;
}
.about-img .circle-spin{
    
    border-left: .2rem solid #212529;
    border-right: .2rem solid #212529;
}

.about-img .circle-spin-dark{
    border-left: .2rem solid #fff;
    border-right: .2rem solid #fff;
}
.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 60px;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


.card:hover{
    cursor: pointer;
    box-shadow: 10px 10px  rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: .3s;

}
ul, li{
    background-color: transparent;
}

.show-menu {
    transition: 1s;
}
.animated-text h3{
    color: transparent;
    -webkit-text-stroke: .7px #212529;
    background-image: linear-gradient(#212529, #212529);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;

}
.animated-text-mode-sombre h3{
    color: transparent;
    -webkit-text-stroke: .7px #fff;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;

}
/* Styles spécifiques pour les écrans de moins de 780px */
@media screen and (max-width: 780px) {
    nav{
        box-shadow: 0 0 10px 10px  rgba(0, 0, 0, 0.2); ;
    }
    .contenu{
        margin-top: 25%;
        justify-content: center;
        text-align: center;
    }
    .titre{
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profil-text{
        font-size: 25px;
    }
    #downloadButton{
        z-index: 100;
        position: absolute;
        margin-top: 30%;
        margin-left: 40%;
        transform: rotate(90deg);
        font-size: 18px;
    }
    .menu{
        background-color: white;
    }

    .mobile{
        display: none;
    }
    .nav-item{
        width: 90%;
        margin-left: 4%;
    }
    #toggleButton{
        margin: 3% 3% 3% 0;
    }
    .animated-text h1, h3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #accueil{
        min-height: auto;
        margin-top:40%;

    }
    #propos, #skills, #projets, #contact, footer{
        min-height: auto;
        margin-top: 15%;
    }
    #back-to-top{
        z-index: 1000;
    }
}



@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -43rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg );
    }
}