@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  /* Utilisation de la police */
  body {
    font-family: 'Poppins Regular', sans-serif;
  }