@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  /* Utilisation de la police */
  body {
    font-family: 'Poppins Regular', sans-serif;
  }

.contenu {
    margin-top: 10%;
}


.animated-text {
    animation: type-out 4s steps(40) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid black;
  }

  @keyframes type-out {
    from { width: 0; }
    to { width: 100%; }
  }