@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  /* Utilisation de la police */
  body {
    font-family: 'Poppins Regular', sans-serif;
  }

.contenu {
    margin-top: 10%;
}

.animated-text {
    animation: fade-in-out 4s normal;
    }

    @keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }

.skills {
    margin-top: 5%;
}
.profil {
    background-color: #db7e14;
}
.angular {
    position: relative;
    float: left;
}