@font-face {
    font-family: 'Nom de votre police';
    src: url('chemin/vers/votre/police.ttf') format('truetype');
  }
  
  /* Utilisation de la police */
  body {
    font-family: 'Nom de votre police', sans-serif;
  }